.App {
  text-align: center;
  font-size: 35px;
  margin-top: 20%;
}

.title {
  font-size: 50px;
}

.days, .hours, .minutes, .seconds {
  display: inline;
  margin: 10px;
}

.date-input {
  font-size: 25px;
  margin: 5px;
}

.calendar {
  height: 20%;
  width: 20%;
  margin: auto;
}
